# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse/VSCode/Other IDEs
.settings/
*.classpath
*.project
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.swp
*.swo